.Chinese-Sites-Card {
  width: 100%;
  height: 200px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--card-shadow);
  border-radius: 10px;
}